<template name="emailVerified">

	<div class=".container-fluid">
	  	<div class="row">
	      	<div class="col-xs-12 col-sm-6 col-md-4">
	        	<h4 class="page-header">Welcome Back!</h4>
	       	 	<div>
					<span>Your account is verified and ready to lend, borrow...</span>
				</div>
			</div>
		</div>
	    <div class="row">
	      	<div class="col-xs-12 col-sm-6 col-md-4">
	       	 	<div>
	       	 	&nbsp;
				</div>
			</div>
		</div>
	  	<div class="row">
	      	<div class="col-xs-12 col-sm-6 col-md-4">
	       	 	<div>
	       	 	<a href="{{pathFor 'search'}}" class="btn btn-success">Search</a>
				</div>
			</div>
		</div>
	</div>

</template>